*.o
tayga
taygabe
tayga.conf
*.tar
*.d
tayga-cov
*.gcno 
*.gcda
*.gcov
*.rpt
*.pcap
*.pyc
*.log
html/*
latex/*
.vscode/*
callgrind*
unit_conffile
unit_conffile.conf
unit_checksum
unit_ip4_id
unit_tun
unit_gso
unit_pref64
unit_stats
pref64-discover
tayga.map
perf-sessions
dist/